{% extends 'base.html' %}

{% block title %}
  Active Email |
{% endblock %}

{% block content %}
  <form method="post" class="form-box">
    {% csrf_token %}
    <section class="form-title">
      <h2>Active Email</h2>
      <p>Enter the verification code sent to your email.</p>
    </section>
    <div>
      <p>{{ form.verification_code.label }}</p>
      {{ form.verification_code }}
      {% if form.verification_code.errors %}
        {{ form.verification_code.errors }}
      {% endif %}
    </div>
    <button type="submit" class="form-button">Active</button>
  </form>
{% endblock %}
