{% extends 'base.html' %}

{% block title %}
  Reset Password |
{% endblock %}

{% block content %}
  <form method="post" class="form-box">
    {% csrf_token %}
    <section class="form-title">
      <h2>Password reset</h2>
      <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    </section>
    <div>
      <p>{{ form.new_password1.label }}</p>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        {{ form.new_password1.errors }}
      {% endif %}
    </div>
    <div>
      <p>{{ form.new_password2.label }}</p>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        {{ form.new_password2.errors }}
      {% endif %}
    </div>
    <button type="submit" class="form-button">Reset my password</button>
  </form>
{% endblock %}