<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />

    <title>
      {% block title %}

      {% endblock %}SplitTrip
    </title>
  </head>

  <body class="bg-gray-900 max-w-[1680px] m-auto relative text-gray-50 px-5">
    <header>
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="form-button !w-35">Logout</button>
        </form>
      {% endif %}
    </header>
    {% block content %}

    {% endblock %}
    <script src="{% static 'javascript/main_script.js' %}"></script>

    {% block script %}

    {% endblock %}
  </body>
</html>
